[submodule "Library_ArenaGames"]
	path = Library_ArenaGames
	url = https://github.com/gitMarky/Library_ArenaGames
	branch = stable
[submodule "Library_Shooter"]
	path = ModernCombat.ocd/Library_Shooter
	url = https://github.com/gitMarky/Library_Shooter
	branch = stable
